<form name="connectForm" class="form-horizontal">
	<div class="form-group">
		<label for="inputEmail" class="col-xs-2 control-label">Email</label>
		<div class="col-xs-10">
			<input required ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword" class="col-xs-2 control-label">Password</label>
		<div class="col-xs-10">
			<input required ng-model="user.password" type="password" class="form-control" id="inputPassword" minlength="6" maxlength="20" ng-minlength="6" ng-maxlength="20" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-10">
			<input type="submit" ng-click="connect(user)"" class="btn btn-default" value="login"/>
		</div>
	</div>
</form>