<div id="meetingLsit">
	<h1>Project {{projectId}} : meetings list</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Metting Name</th>
				<th>Date</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="meeting in meetings" ng-click="openMeeting(meeting.id)">
					
				<td>
					<h2>{{meeting.id}}</h2>
				</td>
				<td>
					<a ng-href="#project/{{projectId}}/meeting/{{meeting.id}}">
						<h2>{{meeting.name}}</h2>
					</a>
				</td>
				<td>
					<p class="date">{{meeting.date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
				</td>

			</tr>
		</tbody>

	</table>
</div>

