<div id="meetingLsit">
	<h1>Project {{projectId}} : meetings list</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Metting Name</th>
				<th>Date</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="reunion in reunions" ng-click="openReunion(reunion.id)">
					
				<td>
					<h2>{{reunion.id}}</h2>
				</td>
				<td>
					<a ng-href="#project/{{projectId}}/reunion/{{reunion.id}}">
						<h2>{{reunion.name}}</h2>
					</a>
				</td>
				<td>
					<p class="date">{{reunion.date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
				</td>

			</tr>
		</tbody>

	</table>
</div>

